name: CI

on:
  push:
    branches:
      - edge
    tags:
      - v*

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.5
      - run: docker pull redislabs/redisgraph
      - run: npm i
      - run: npm run lint
      - run: npm test

  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.5
      - run: docker pull redislabs/redisgraph
      - run: npm i
      - run: npm run coverage
      - uses: codecov/codecov-action@v1

  publish-npm:
    needs:
      - test
      - coverage
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.5
          registry-url: https://registry.npmjs.org/
          scope: "@hydre"
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
